name: Deploy Bot
on: 
  push:
    branches:
      - main

jobs:
  deploy:
    name: "Deploy to Server"
    runs-on: ubuntu-latest
    steps:
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/deploy.key
          chmod 600 ~/.ssh/deploy.key
          cat >>~/.ssh/config <<END
          Host deploy
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/deploy.key
            StrictHostKeyChecking no
          END
        env:
          SSH_USER: ${{ secrets.DEPLOY_SSH_USER }}
          SSH_KEY: ${{ secrets.DEPLOY_SSH_KEY }}
          SSH_HOST: ${{ secrets.DEPLOY_SSH_HOST }}
      - name: Pull latest version
        run: ssh deploy 'cd catpuccinobot && git fetch --all && git reset --hard origin/main'
      - name: Stop the bot
        run: ssh deploy 'cd catpuccinobot && docker compose down'
      - name: Restart the bot
        run: ssh deploy 'cd catpuccinobot && docker compose up --build -d'




